In [1]:
def calculation(number):
    su =0
    for i in number:
        su = su+i
    return su

sum_list =[1,23,2,2]
calculation(sum_list)

28

In [2]:
def calculation(*number):
    su =0
    for i in number:
        su = su+i
    return su

sum_list =[1,23,2,2]
calculation(2,3,4,5,6)

20

In [5]:
def registration(*infor):
    name = infor[0] if not infor[0] is None else 'N/A' 
    age = infor[1] 
    gender = infor[2] 
    print(name,age,gender)

registration('Nam','19','Male')

Nam 19 Male

In [8]:
def y(x):
    x=4
    y = x**2
    return y
x = 2
print(y(x))
print(x)

16
2

In [9]:
def my_function():
    
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 1
1

In [10]:
def my_function():
    var = 2
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 2
1

In [11]:
def my_function():
    var1 = 2
    print("Do I know that variable?", var)
    print("Do I know that variable?", var1)


var = 1
my_function()
print(var)

Do I know that variable? 1
Do I know that variable? 2
1

In [13]:
def my_function():
    global var
    var = 2
    print("Do I know that variable?", var)


#var = 1
my_function()
print(var)

Do I know that variable? 2
2

In [14]:
def my_function():
    global var,var2
    var = 2
    var2 =5
    print("Do I know that variable?", var)


#var = 1
my_function()
print(var,var2)

Do I know that variable? 2
2 5

In [15]:
def my_function(n):
    print("I got", n)
    n += 1
    print("I have", n)


var = 1
my_function(var)
print(var)

I got 1
I have 2
1

In [16]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [0, 1]
Print #4: [2, 3]
Print #5: [2, 3]

In [18]:
l1=[2,3]
l2=l1
l1.append(2)
print(l2)

[2, 3, 2]

In [19]:
l1=[2,3]
l2=l1[:]
l1.append(2)
print(l2)

[2, 3]

In [17]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0] #Pay attention to this line.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]

In [22]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1=my_list_1[:]
    my_list_1.append([2,3,5])
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [2, 3, [2, 3, 5]]
Print #4: [2, 3]
Print #5: [2, 3]

In [23]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    
    my_list_1.append([2,3,5])
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [2, 3, [2, 3, 5]]
Print #4: [2, 3, [2, 3, 5]]
Print #5: [2, 3, [2, 3, 5]]

In [24]:
def bmi(weight, height):
    return weight / height ** 2


print(bmi(52.5, 1.65))

19.283746556473833

In [25]:
def bmi(weight, height):
    return weight / height ** 2,weight,height


print(bmi(52.5, 1.65))

(19.283746556473833, 52.5, 1.65)

In [26]:
print(bmi(52.5, 1.65)[-1])

1.65

In [27]:
print(bmi(52.5, 1.65)[0])

19.283746556473833

In [28]:
def bmi(weight, height):
    return weight / height ** 2,weight,height


print(bmi('ten', 1.65))

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [29]:
def bmi(weight, height):
    return weight / height ** 2,weight,height


print(bmi(50, 0))

ZeroDivisionError: division by zero

In [33]:
def bmi(weight, height):
    if height <1.0 or height>2.5 or \
    weight <20 or weight>200:
        return None
    return weight / height ** 2

print(bmi(50, 0))

None

In [34]:
print(bmi(352.5, 1.65))

None

In [35]:
print(bmi(52.5, 1.65))

19.283746556473833

In [37]:
def lb_to_kg(lb):
    return lb * 0.45359237


print(lb_to_kg(290))

131.5417873

In [38]:
def ft_and_inch_to_m(ft, inch):
    return ft * 0.3048 + inch * 0.0254


print(ft_and_inch_to_m(5, 3))

1.6002

In [39]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


print(ft_and_inch_to_m(6))

1.8288000000000002

In [40]:
print(ft_and_inch_to_m(6,4))

1.9304000000000001

In [ ]:
def lb_to_kg(lb):
    return lb * 0.45359237

In [41]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


def lb_to_kg(lb):
    return lb * 0.45359237


def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None
    
    return weight / height ** 2


print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.565214082533313

In [44]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


def lb_to_kg(lb):
    return lb * 0.45359237


def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None
    
    return weight / height ** 2
w = lb_to_kg(176)
h =ft_and_inch_to_m(5, 7)

print(bmi(w, h))
print(bmi(weight= lb_to_kg(176), height=ft_and_inch_to_m(5, 7) ))

27.565214082533313
27.565214082533313

In [45]:
def is_a_triangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [46]:
def is_a_triangle(a, b, c):
    if a + b <= c or b + c <= a or c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [52]:
def is_a_triangle(a, b, c):
    return not(a + b <= c or b + c <= a or c + a <= b)
    

print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [48]:
def is_a_triangle(a, b, c):
    if a + b > c and b + c > a and c + a > b:
        return True
    else: 
        return False


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [50]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b
print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [53]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c > b:
        return c ** 2 == a ** 2 + b ** 2
    if a > b and a > c:
        return a ** 2 == b ** 2 + c ** 2


print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

True
False

In [54]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

def heron(a,b,c):
    p =(a+b+c)/2
    return (p*(p-a)*(p-b)*(p-c))**(1/2)

def area_of_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return None
    return heron(a, b, c)


print(area_of_triangle(1., 1., 2. ** .5))

0.49999999999999983

In [55]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    
    product = 1
    for i in range(2, n + 1):
        product *= i
    return product


for n in range(1, 6):  # testing
    print(n, factorial_function(n))

1 1
2 2
3 6
4 24
5 120

In [56]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1

    elem_1 = 1
    elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):  # testing
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

In [57]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

fib(5)

5

In [58]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    return n * factorial_function(n - 1)

print(factorial_function(5))

120

In [59]:
l=[5,3,5,8,'a']

In [60]:
for i in l:
    print(i)

5
3
5
8
a

In [61]:
l.append([4,5])

In [62]:
print(l)

[5, 3, 5, 8, 'a', [4, 5]]

In [63]:
l[0:2]=[3,4]

In [64]:
print(l)

[3, 4, 5, 8, 'a', [4, 5]]

In [68]:
tu1 = (1,2,3,3)
print(type(tu1))

<class 'tuple'>

In [69]:
tu2 = 5,6,57,'8',[1,3]
print(type(tu2))

<class 'tuple'>

In [70]:
print(tu2)

(5, 6, 57, '8', [1, 3])

In [72]:
one_element_tuple=(1)
print(type(one_element_tuple))

<class 'int'>

In [73]:
one_element_tuple=(1.)
print(type(one_element_tuple))

<class 'float'>

In [74]:
one_element_tuple=(1.2,)
print(type(one_element_tuple))

<class 'tuple'>

In [76]:
one_element_tuple2= 1.2,

In [77]:
print(one_element_tuple2)

(1.2,)

In [79]:
tu2 = 5,6,57,'8',[1,3]
print(tu2[0])

5

In [81]:
tu2 = 5,6,57,'8',[1,3]
print(tu2[-1][0])

1

In [82]:
tu2 = 5,6,57,'8',[1,(3,5,7)]

In [84]:
print(tu2[-1][-1][-1])

7

In [85]:
tu2[0]=3

TypeError: 'tuple' object does not support item assignment

In [86]:
tu2[-1][0]=3

In [87]:
print(tu2)

(5, 6, 57, '8', [3, (3, 5, 7)])

In [88]:
my_tuple = (1, 10, 100, 1000)

my_tuple.append(10000)
del my_tuple[0]
my_tuple[1] = -10

AttributeError: 'tuple' object has no attribute 'append'

In [89]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])

for elem in my_tuple:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

In [90]:
my_tuple = (1, 10, 100, 1000)
my_tuple_2=my_tuple[1:3]
print(my_tuple_2)

(10, 100)

In [91]:
print(len(my_tuple_2))

2

In [93]:
my_tuple = (1, 10, 100)

my_tuple = my_tuple + (1000, 10000)
#t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [94]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

(2,) (3, 123) (1,)

In [ ]:
# EX1: Input from Keyboard a list of Country and City and do 
# A. Create a dictionary from Country and City in which  Country is key and City is value 
# B. Allow user input a key and we print the corresponding values