In [1]:
l=[ i for i in range(0,10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
l2 = [i**2+2 for i in l]
print(l2)

[2, 3, 6, 11, 18, 27, 38, 51, 66, 83]

In [5]:
l3 = [[i**2+2+j for i in l] for j in range(5)]
print(l3)

[[2, 3, 6, 11, 18, 27, 38, 51, 66, 83], [3, 4, 7, 12, 19, 28, 39, 52, 67, 84], [4, 5, 8, 13, 20, 29, 40, 53, 68, 85], [5, 6, 9, 14, 21, 30, 41, 54, 69, 86], [6, 7, 10, 15, 22, 31, 42, 55, 70, 87]]

-repeat

-larger

-decompostion

-sharing

In [6]:
def y(x,z):
    y = x**2 +z
    return y

y = y(2,3)
print(y)

7

In [10]:
def y(x,z):
    y = x**2 +z
    return y

y=y(z=3,x=2)
print(y)

7

In [11]:
def introduction(first_name, last_name):
    print('hello, my name is', first_name, last_name)
introduction('Nguyen Van','Nam')

hello, my name is Nguyen Van Nam

In [13]:
def introduction(last_name,first_name='Nguyen Van'):
    print('hello, my name is', first_name, last_name)
introduction('Nam','Nguyen Van' )

hello, my name is Nguyen Van Nam

In [15]:
introduction('Nam', 'Tran Van' )

hello, my name is Tran Van Nam

In [16]:
def introduction(last_name='Anh',first_name='Nguyen Van'):
    print('hello, my name is', first_name, last_name)
introduction('Nam','Nguyen Van' )

hello, my name is Nguyen Van Nam

In [17]:
def introduction(last_name='Anh',first_name='Nguyen Van'):
    print('hello, my name is', first_name, last_name)
introduction()

hello, my name is Nguyen Van Anh

In [18]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
    
    print("Happy New Year!")

In [19]:
happy_new_year()

Three...
Two...
One...
Happy New Year!

In [21]:
print('count')
happy_new_year(False)
print('finish')

count
Three...
Two...
One...
finish

In [22]:
def boring_function():
    return 123

x = boring_function()

print("The boring_function has returned its result. It's:", x)

The boring_function has returned its result. It's: 123

In [23]:
def boring_function():
    print("'Boredom Mode' ON.")
    return 123

print("This lesson is interesting!")
boring_function()
print("This lesson is boring...")

This lesson is interesting!
'Boredom Mode' ON.
This lesson is boring...

In [24]:
def boring_function():
    print("'Boredom Mode' ON.")
    return 
a = boring_function()
print(a)

'Boredom Mode' ON.
None

In [25]:
print(None + 2)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [26]:
value = None
if value is None:
    print("Sorry, you don't carry any value")

Sorry, you don't carry any value

In [27]:
def strange_function(n):
    if(n % 2 == 0):
        return True
print(strange_function(2))
print(strange_function(1))

True
None

In [29]:
def strange_function(n):
    pass
print(strange_function(1))
print(strange_function(2))

None
None

In [30]:
lst = [3,5,6]
def list_sum(lst):
    s = 0
    for elem in lst:
        s = s+elem
    return s
print(list_sum(lst))

14

In [31]:
print(list_sum([2,3,4,5,7,8]))

29

In [32]:
print(list_sum([2]))

2

In [35]:
print(list_sum(5))

TypeError: 'int' object is not iterable

In [36]:
print(list_sum([]))

0

In [37]:
def strange_list_fun(n):
    strange_list = []
    
    for i in range(0, n):
        strange_list.insert(0, i)
    
    return strange_list

print(strange_list_fun(5))

[4, 3, 2, 1, 0]

In [38]:
def relist(n):
    l=[]
    for i in range(n):
        l.append(i)
    return l
a = relist(10)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
year =2001
leap_year_True_False = (year%4==0 and year%100!=0)or year%400==0
print(leap_year_True_False)

False

In [45]:
def is_year_leap(year):
    leap_year_True_False = (year%4==0 and year%100!=0)or year%400==0
    return leap_year_True_False
#
# put your code here
#

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]


for i in range(len(test_data)):
	yr = test_data[i]
	print(yr,"->",end="")
	result = is_year_leap(yr)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [ ]:
# month with 31 days: 1,3,5,6,8,10,12
# 28or29 days : 2
# remain month: 10
month_31 = [1,3,5,7,8,10,12]
month_30 = [4,6,9,11]

In [50]:
def is_year_leap(year):
    leap_year_True_False = (year%4==0 and year%100!=0)or year%400==0
    return leap_year_True_False

def days_in_month(year, month):
    if month in [1,3,5,7,8,10,12]:
        days =31
    elif month in [4,6,9,11]:
        days = 30
    elif month is 2:
        if is_year_leap(year):
            days =29
        else:
            days =28
    else:
        days = None
        
    return days
#
# Write your new code here.
#

<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hieub\AppData\Local\Temp/ipykernel_13104/4252152126.py:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif month is 2:

In [51]:
test_years = [1900, 2000, 2016, 1987,2022]
test_months = [2, 2, 1, 11,4]
test_results = [28, 29, 31, 30,30]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK",'days',result)
        
	else:
		print("Failed")

1900 2 ->OK days 28
2000 2 ->OK days 29
2016 1 ->OK days 31
1987 11 ->OK days 30
2022 4 ->OK days 30

In [70]:
import warnings
warnings.filterwarnings('ignore')

def is_year_leap(year):
    leap_year_True_False = (year%4==0 and year%100!=0)or year%400==0
    return leap_year_True_False

def days_in_month(year, month):
    if month in [1,3,5,7,8,10,12]:
        days =31
    elif month in [4,6,9,11]:
        days = 30
    elif month is 2:
        if is_year_leap(year):
            days =29
        else:
            days =28
    else:
        days = None
        
    return days
def day_of_year(year, month, day):
    sum_days =0
    if day >days_in_month(year, month):
        print('Wrong day in month')
        return None
    for i in range(1,month):
        days_in_m=days_in_month(year, i)
        
        sum_days = sum_days + days_in_m
    
    sum_days+=day
    
    return sum_days


print(day_of_year(2022, 4, 31))

Wrong day in month
None

In [71]:
def is_prime(num):
    if num ==2 or num==3:
        return True
    if num%2==0:
        return False
    else:
        for i in range(3, int(num**(1/2)+1)):
            if num%i ==0:
                return False
    return True 


for i in range(1, 20):
	if is_prime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [73]:
def is_prime(num):
    if num ==2 or num==3:
        return True
    if num%2==0:
        return False
    else:
        for i in range(3, num):
            if num%i ==0:
                return False
    return True 


for i in range(1, 20):
	if is_prime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [74]:
def liters_100km_to_miles_gallon(liters)
:
#3.785411784*liters
#
# Write your code here.
#

def miles_gallon_to_liters_100km(miles):
#return 1609.344*miles
#
# Write your code here
#

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

14.763105957599999
28.39058838
37.85411784
97043.4432
50533.4016
37819.584

In [1]:
def scope_test():
    x = 123


scope_test()
print(x)

NameError: name 'x' is not defined

In [2]:

def my_function():
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 1
1

In [ ]:
# EX: Write a function with no input  
# and do the following things:
# A. Ask user to input continuously a name of user, a name of product and a comment of that user about product
# until they input username is blank
# B. Each input of username, productname, comment add three list (CustomerName, ProductName, and Comment)