In [1]:
print("2")
print(2)

2
2

In [3]:
a = "2"
b = 2
b**2

4

In [5]:
print(type(b))

<class 'int'>

In [6]:
a= 111111
print(a)

111111

In [8]:
b= +111_111
print(type(b))

<class 'int'>

In [9]:
print(123)

123

In [10]:
print(0o123) #octal

83

In [11]:
print(0x123)# hexa

291

In [12]:
type(0.4)

float

In [13]:
type(.4)

float

In [16]:
a = 4.
print(type(a))

<class 'float'>

In [17]:
4e6

4000000.0

In [21]:
a = 'I am a string'

In [22]:
print("I like \"Monty Python\"")

I like "Monty Python"

In [24]:
print(a[0:4])

I am

In [25]:
print(a[0:-1])

I am a strin

In [26]:
print(a[0:])

I am a string

In [27]:
A = a.capitalize()
print(A)

I am a string

In [28]:
A = a.upper()
print(A)

I AM A STRING

In [29]:
print(a.replace('am','was'))

I was a string

In [30]:
sent = 'hello, my name is python. I am 40 years old'
x = sent.split('.')
print(x)

['hello, my name is python', ' I am 40 years old']

In [32]:
print(x[1])

 I am 40 years old

In [33]:
x2 = sent.split(' ')
print(x2)

['hello,', 'my', 'name', 'is', 'python.', 'I', 'am', '40', 'years', 'old']

In [46]:
print(len(x2))

10

In [36]:
print(x2[5:8])

['I', 'am', '40']

In [38]:
print(sent.replace('40','60'))

hello, my name is python. I am 60 years old

In [40]:
x2[7].isdigit()

True

In [44]:
print(a+' '+' _'+sent)

I am a string  _hello, my name is python. I am 40 years old

In [45]:
x = "Hello World;Xin chao"
y = x + ";Ohaiyo gozaimashu"
print(x, x[0], x[-1], x[:5], x[-5:])
print(len(x), "World" in x, "python" in x, "World" not in x)
print(y, len(y), "      -ABCD-     ".strip(), "-ABCD-".replace('-', ''))
print(y.upper(), y.lower())

WordList = y.split(";")
print(WordList, len(WordList))
print("1234".isdigit(), "1234".isnumeric(), y.find("Ohaiyo"))

Hello World;Xin chao H o Hello  chao
20 True False False
Hello World;Xin chao;Ohaiyo gozaimashu 38 -ABCD- ABCD
HELLO WORLD;XIN CHAO;OHAIYO GOZAIMASHU hello world;xin chao;ohaiyo gozaimashu
['Hello World', 'Xin chao', 'Ohaiyo gozaimashu'] 3
True True 21

In [48]:
print('I\'m Monty Python')

I'm Monty Python

In [57]:
a= 2
a /=6
print(a)

0.3333333333333333

In [50]:
print(True > False)
print(True < False)

True
False

In [52]:
print("\"\"I\'m\" \n\"\"learning\"\" \n\"\"\"Python\"\"\"")

""I'm"
""learning""
"""Python"""

In [53]:
print(2+2)

4

In [ ]:
# Arithmetic Operators
#Rational Operators
# Assignment Operators
# Logical Operators
# Bitwise Operators
# Membership Operator
# Identity Operator

In [58]:
L =[1,2,3]
L[2] is 3 #Ientity Operator

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\hieub\AppData\Local\Temp/ipykernel_12748/948057835.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  L[2] is 3

True

In [59]:
 2 in L #Membership

True

In [61]:
a= 43
b= 21

In [62]:
print('+',a+b, '-',a-b, '*',a*b, '/',a/b, '//',a//b, '%',a%b, '**',a**b)

+ 64 - 22 * 903 / 2.0476190476190474 // 2 % 1 ** 20083415214428110320965436874242043

In [63]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

In [64]:
print(2 * 3)
print(2 * 3.)
print(2. * 3)
print(2. * 3.)

6
6.0
6.0
6.0

In [65]:
print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

2.0
2.0
2.0
2.0

In [66]:
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

2
2.0
2.0
2.0

In [68]:
print(7 // 4)
print(6. // 4)

1
1.0

In [71]:
print(-7 // 6)
print(6. // -4)

-2
-2.0

In [72]:
print(9 % 6 % 2)

1

In [73]:
print(2 ** 2 ** 3)

256

In [74]:
print(2 * 3 % 5)

1

In [75]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [76]:
aD1_ =2

In [78]:
_1aD1_1 =2

In [85]:
_in =2
_import=0
_as=0
Việt_Nam =2

-['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [94]:
c_ ={'a':[2,3],'b':5,'e':'hello'}
print(c_['a'])

[2, 3]

In [ ]:
#pip install opencv-python

In [91]:
import cv2
a= 10
b= [1,2,3]
print(b[0])
c_ ={'a':2,'b':5,'e':'hello'}
d =(1,2,3)
e= cv2.imread('G:/My Drive/1. Lectures/Computer vision/ipynb/Images/cat.jpg')
cv2.imshow('variable',e)
cv2.waitKey(0)
print(c_)

{'a': 2, 'b': 5, 'e': 'hello'}

In [ ]:
# EX1: Assume we have a string "Today is Sunday and we don't need to wake up at 8 am". 
# Print how many words in the string and check whether number in string. Print position of that number in string   
# EX2: Assume we have string "This product is good. It's price is 30 USD and it is cheappest in this town"
# Print this feedback and Convert USD to VND in the statement.