In [1]:
a = 2

In [ ]:
a = 0
a =

In [3]:
sum = 0
sum = sum + 2

In [5]:
a = []
a.append([2,3])

In [6]:
print(a)

[[2, 3]]

In [8]:
import numpy as np
b = np.zeros((2,3))

In [9]:
print(b)

[[0. 0. 0.]
 [0. 0. 0.]]

In [11]:
a = 3.
b = 4.0

In [12]:
c = (a**2 +b**2)**0.5
print(c)

5.0

In [13]:
John = 3
Mary = 5
Adam = 5
total_apple = John +Mary +Adam
print(total_apple)

13

In [14]:
x = 3
x = x+5
print(x)

8

In [16]:
x = 3
x +=5
print(x)

8

In [17]:
x = 3
x -=5
print(x)

-2

In [20]:
x = 3
x /=5
print(x)
x = 3
x //=5
print(x)
x = 3
x %=5
print(x)
x = 3
x **=5
print(x)

0.6
0
3
243

In [31]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles*1.61 ###
kilometers_to_miles = kilometers/1.61 ###

print(miles, "miles is", round(miles_to_kilometers, 4), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 5), "miles")

7.38 miles is 11.8818 kilometers
12.25 kilometers is 7.6087 miles

In [28]:
x = -1 # hardcode your test data here
'''
x = float(x)
y = 3*x**3-2*x**2+3*x-1
'''
# write your code here
#print("y =", y)

'\nx = float(x)\ny = 3*x**3-2*x**2+3*x-1\n'

In [26]:
_1 = 2

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

In [29]:
input()

hello input

'hello input'

In [32]:
anything = input('Tell me any thing ...')

Tell me any thing ...hi

In [33]:
anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'

In [34]:
type(anything)

str

In [35]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 2
2.0 to the power of 2 is 4.0

In [ ]:
# Input from keyboard ItemName, Quantity, and Unit Price
# Print order information

In [ ]:
Order Information : 
    Item Name : 'Milk'
    Quantity: 10
    UnitPrice : 3.5 USD. 
===================================
Total Amount : 35.0 USD

In [44]:
a = 5
b = 'milk'
print('Total Amount:\n\t{1},\n\t{0}'.format((a),(b)))

Total Amount:
	milk,
	5

In [40]:
ItemName = input('Input a Item Name : ')

Input a Item Name : Milk

In [41]:
Quantity = int(input('Input a quantity of Item: '))

Input a quantity of Item: 10

In [42]:
UnitPrice = float(input('Input a Unit Price of Item'))

Input a Unit Price of Item3.5

In [43]:
Total = UnitPrice*Quantity
print(Total)

35.0

In [52]:
sep = '='*30

In [53]:
infor ='Order Information: \n\t Item Name : {0} \n\t Quantity : {1} \n\t UnitPrice {2} \n{3}'

In [54]:
print(infor.format(ItemName,Quantity,UnitPrice,sep),f'Total Amount :{Total}',sep='\n')

Order Information:
	 Item Name : Milk
	 Quantity : 10
	 UnitPrice 3.5
==============================
Total Amount :35.0

In [55]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 2
Input second leg length: 3
Hypotenuse length is 3.605551275463989

In [56]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is", (leg_a**2 + leg_b**2) ** .5)

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 4
Input second leg length: 6
Hypotenuse length is 7.211102550927978
Input first leg length: 4
Input second leg length: 6
Hypotenuse length is 7.211102550927978

In [60]:
a= ' hello '
b = 'python '
c = 'programming'
d = a+b*5+c
print(d)

 hello python python python python python programming

In [ ]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + l)

In [64]:
print(a*-6)

In [66]:
a = 10
print(str(a)+b)

10python

In [67]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length: 2
Input second leg length: 5
Hypotenuse length is 5.385164807134504

In [70]:
x= 1

In [71]:
y = 1/(x+(1/(x+(1/(x+(1/x))))))

In [72]:
print(y)

0.6000000000000001

In [73]:
x= 10

In [74]:
print(y)

0.6000000000000001

In [75]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

min2 = mins + dura

end_hour = hour + min2//60
end_min = min2%60
print(f'Ending time {end_hour}:{end_min}')

# Write your code here.

Starting time (hours): 12
Starting time (minutes): 17
Event duration (minutes): 59
Ending time 13:16

In [76]:
input()

''

In [ ]:
##EX1 From the keyboard input the student profile including : 
# Name of Subject 1,2,3 and Mark of Subject 1,2,3.
# Name of Student and Date of Birth
# And print the profile of these students with Average Mark

In [ ]:
#EX2 Quiz
#EX3 Test